@{
    ViewData["Title"] = "Cozy Homes - Units";
    Layout = "~/Views/Shared/_LayoutATenant.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozy Homes - Units</title>
    <meta name="theme-color" content="#000000" />
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/atenant.css">
</head>

    <!-- Homes List -->
    <section class="check-home">
        <div class="unit-history">
            <h2 class="text-alone">YOUR UNIT HISTORY</h2>
            <div class="contains-units">
                <div class="unit-card">
                    <!-- <a href="PTenant_details.html"> -->
                    <img src="flat.png" alt="House 1">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                    </a>
                </div>
                <div class="unit-card">
                    <img src="poolhouse.png" alt="House 2">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
                <div class="unit-card">
                    <img src="treehouse.png" alt="House 3">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
                <div class="unit-card">
                    <img src="bungalow.png" alt="House 4">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
                <div class="unit-card">
                    <img src="flat.png" alt="House 1">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
                <div class="unit-card">
                    <img src="poolhouse.png" alt="House 2">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
                <div class="unit-card">
                    <img src="treehouse.png" alt="House 3">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
                <div class="unit-card">
                    <img src="bungalow.png" alt="House 4">
                    <div class="card-stuff">
                        <h2>Oceanview Retreat</h2>
                        <div class="card-dets">
                            <i class="fas fa-bed"></i> <span>4 Units</span>
                            <i class="fa-solid fa-building"></i> <span>20 Rooms</span>
                        </div>
                        <p>
                            Rent Period: Jan 2023 - Jan 2025
                        </p>
                        <p>
                            Monthly Rent: $2000
                        </p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <button class="book-btn">Book Another Unit</button>
        </div>
    </section>

   
